@font-face {
  font-family: 'NanumSeongSirCe';
  src:
    url('../assets/fonts/subset-NanumSeongSirCe.woff2') format('woff2'),
    url('../assets/fonts/subset-NanumSeongSirCe.woff') format('woff'),
    url('../assets/fonts/subset-NanumSeongSirCe.ttf') format('truetype');
  font-display: fallback;
}
